This data set was taken from the World Bank DataBank. It looks at the U.S. population from 2016 to 2021

In [82]:
import pandas as pd
import numpy as np

In [83]:
df = pd.read_excel("us_population.xlsx")

In [84]:
print(df.shape)

(6, 7)

In [85]:
print(df)

  [WDI_Series].[Topic].[Indicator Name].[MEMBER_CAPTION]          2016  \
0                                  Population, total      3.230718e+08
1                                   Population, male      1.598258e+08
2                                 Population, female      1.632459e+08
3            Life expectancy at birth, total (years)      7.853902e+01
4             Life expectancy at birth, male (years)      7.610000e+01
5           Life expectancy at birth, female (years)      8.110000e+01

           2017          2018          2019          2020         2021
0  3.251221e+08  3.268382e+08  3.283300e+08  3.315011e+08  331893745.0
1  1.608594e+08  1.617195e+08  1.624626e+08  1.640326e+08  164224068.0
2  1.642627e+08  1.651187e+08  1.658673e+08  1.674684e+08  167669677.0
3  7.853902e+01  7.863902e+01  7.878780e+01  7.728049e+01          NaN
4  7.610000e+01  7.620000e+01  7.630000e+01  7.450000e+01          NaN
5  8.110000e+01  8.120000e+01  8.140000e+01  8.020000e+01          NaN

In [86]:
df.columns

Index(['[WDI_Series].[Topic].[Indicator Name].[MEMBER_CAPTION]', '2016',
       '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

After reviewing the column names I changed the first column name to Topic.

In [87]:
fixed_columns = {   
    '[WDI_Series].[Topic].[Indicator Name].[MEMBER_CAPTION]': 'Topic'
}

df.rename(columns=fixed_columns, inplace=True)
df.columns

Index(['Topic', '2016', '2017', '2018', '2019', '2020', '2021'], dtype='object')

In [88]:
print(df)

                                      Topic          2016          2017  \
0                         Population, total  3.230718e+08  3.251221e+08
1                          Population, male  1.598258e+08  1.608594e+08
2                        Population, female  1.632459e+08  1.642627e+08
3   Life expectancy at birth, total (years)  7.853902e+01  7.853902e+01
4    Life expectancy at birth, male (years)  7.610000e+01  7.610000e+01
5  Life expectancy at birth, female (years)  8.110000e+01  8.110000e+01

           2018          2019          2020         2021
0  3.268382e+08  3.283300e+08  3.315011e+08  331893745.0
1  1.617195e+08  1.624626e+08  1.640326e+08  164224068.0
2  1.651187e+08  1.658673e+08  1.674684e+08  167669677.0
3  7.863902e+01  7.878780e+01  7.728049e+01          NaN
4  7.620000e+01  7.630000e+01  7.450000e+01          NaN
5  8.120000e+01  8.140000e+01  8.020000e+01          NaN

In [89]:
df.dtypes

Topic     object
2016     float64
2017     float64
2018     float64
2019     float64
2020     float64
2021     float64
dtype: object

For this column I changed the NaN values to reflect 0

In [94]:
df['2021'] = df['2021'].fillna(0).astype(np.int64)

In [95]:
print(df)

                                      Topic          2016          2017  \
0                         Population, total  3.230718e+08  3.251221e+08
1                          Population, male  1.598258e+08  1.608594e+08
2                        Population, female  1.632459e+08  1.642627e+08
3   Life expectancy at birth, total (years)  7.853902e+01  7.853902e+01
4    Life expectancy at birth, male (years)  7.610000e+01  7.610000e+01
5  Life expectancy at birth, female (years)  8.110000e+01  8.110000e+01

           2018          2019          2020       2021
0  3.268382e+08  3.283300e+08  3.315011e+08  331893745
1  1.617195e+08  1.624626e+08  1.640326e+08  164224068
2  1.651187e+08  1.658673e+08  1.674684e+08  167669677
3  7.863902e+01  7.878780e+01  7.728049e+01          0
4  7.620000e+01  7.630000e+01  7.450000e+01          0
5  8.120000e+01  8.140000e+01  8.020000e+01          0

In [100]:
df['2016'].astype(np.int64)

0    323071755
1    159825817
2    163245938
3           78
4           76
5           81
Name: 2016, dtype: int64